<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="static/sorttable.css" />
    <script src="static/sorttable.js"></script>
</head>
<body>
    <table class="sortable">
        <thead>
            <tr><th>Mod</th><th>Version</th><th>Identifier</th></tr>
        </thead>
        <tbody>
            <tr tal:repeat="entry options/entries"><td tal:content="entry/name"></td><td tal:content="entry/version"></td><td tal:content="entry/identifier"></td></tr>
        </tbody>
    </table>
</body>
</html>
